{{!--  video 9 404 Page Not Found --}}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>CDNbootStrap}}
    <style>
        h1{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>

{{>nav}}

    <h1>Page Not Found shows by 404.hbs</h1>
</body>
</html>