{{!-- video 8 partials start--}}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>CDNbootStrap}}
</head>
<body>

{{>nav}}

{{>cards}}
    <h1>Hello About us abid</h1>
</body>
</html>